<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/styles.css">
    <meta charset="utf-8">
    <title>robit</title>
  </head>
  <body id="personalBody">


  <div class="profile">
    <img class="profilePic" src="{{avatar}}" alt="{{name}}">

  <div class="personalInfo">
    <h1 class="personalName">{{name}}</h1>
  <p>{{#address.city}}{{address.city}},{{/address.city}}{{^address.city}}{{/address.city}} {{address.country}} | {{#job}}
        {{ job }}
        {{ /job }}
        {{ ^job }}
        <p class="available">available for hire</p>
        {{/job}} {{company}}</p>
    <p class="personalEmail">{{email}} | {{phone}}</p>
  </div>
  </div>

  <div class="personalEdu">
    {{#university}}
    <p><strong>Education</strong> {{university}}</p>
    {{/university}}
    {{^university}}
    {{/university}}
    <br>

    <strong>Skills</strong>
    <div class="skillz">
    {{ #skills }}
    <p>{{ . }}</p>
    {{ /skills }}
    </div>
  </div>

    <a href="http://localhost:3000/robotindex">HOME</a>
  </body>
</html>
