<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>sign uppppp</title>
  </head>
  <body>
    <form class="signup" action="index.html" method="post">
      <input type="text" name="username" placeholder="enter new username">
      <input type="text" name="password" placeholder="enter new password">
      <button type="submit" name="button">submit form</button>
    </form>

  </body>
</html>
