<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/styles.css">
    <meta charset="utf-8">
    <title>need a robot slave?</title>
  </head>
  <body id="indexBody">
    <a href="/robotsneedwork">FOR HIRE</a>
    <a href="/robotindex">HOME</a>
    {{#users}}
    <section class="avatarBox">

      <a href="/robot/{{username}}"><img class="robotAvatars" src="{{avatar}}" alt="{{name}}"></a>
      <h1 class="robotName">{{name}}</h1>
      {{ #job }}
          {{ job }},
          {{ /job }}
          {{ ^job }}
          <p class="available">available for hire</p>
      {{ /job }}
      <p>{{company}}</p>


    </section>
    {{/users}}

  </body>
</html>
